[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dependencies/vim-pathogen"]
	path = dependencies/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
